{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.png')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>Martijn Motmans</h1>
          <span class="subheading">Cloud Engineer | AWS Certified | Python Developer</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          After years as a nurse, where precision, problem-solving under pressure, and teamwork were essential,
          I shifted my focus to cloud engineering and software development.
        </p>
        <p>
          I’m making a career change into tech, channeling that same discipline and adaptability into building
          scalable, automated solutions on AWS. Skilled in Python and hands-on with AWS services.
        </p>
        <p>
          Currently leveling up with the AWS Developer Associate certification while diving deeper into DevOps,
          Terraform, and Kubernetes to master cloud automation, CI/CD pipelines, and container orchestration.
        </p>
        <p>
          What sets me apart? My healthcare background trained me to manage complexity, protect sensitive data,
          and keep people at the center of every solution. That perspective drives me to build tech that
          makes a real impact.
        </p>
        <p>
          From Code to Cloud ☁️ Building Today, Learning for Tomorrow
        </p>
        <p>
          Outside of tech, I recharge by being in nature and trekking, practicing yoga, and pursuing my dream of
          creating a permaculture farm. These passions keep me grounded and inspire balance in how I work and live.
        </p>
          <div class="text-center">
            <img src="../static/assets/img/profilepic.jpg"
                 class="rounded-circle"
                 alt="Martin with a green hat coming out of a boulder."
                 width="400"
                 height="400">
          </div>

        <hr class="my-4">
        <h4>Certifications</h4>
          <div class="d-flex justify-content-center my-4">
            <div data-iframe-width="400" data-iframe-height="400"
                 data-share-badge-id="23588268-9884-4a14-8b30-c32b6f462e5d"
                 data-share-badge-host="https://www.credly.com">
            </div>


            <script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>

            <div data-iframe-width="400" data-iframe-height="400" data-share-badge-id="ddaf0d7e-d1ad-4373-b4c8-337097063d12"
                 data-share-badge-host="https://www.credly.com">
            </div>
            <script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>
        </div>

      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
